# Virtual Environment
.venv/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Model checkpoints and results
checkpoints/
results/

# Jupyter Notebook
.ipynb_checkpoints

# Large datasets
dataset/

experiments/
models/

# Logs
*.log